@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    /* @apply border-border; */
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --success: 141, 79%, 85%;
    --success-foreground: 142, 76%, 36%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --success: 142, 76%, 36%;
    --success-foreground: 141, 79%, 85%;
  }
} */

@layer base {
  :root {
    --background: 240 4.8% 95.9%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --success: 141, 79%, 85%;
    --success-foreground: 142, 76%, 36%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --ring: 263.4 70% 50.4%;
    --success: 142 76% 36%;
    --success-foreground: 141 79% 85%;
  }
}

@property --var-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* Hero btn styles */
.btn-hero {
  /* @apply text-red-500; */
  position: relative;
  /* background: transparent; */
  @apply bg-slate-950;
  transition: background ease-out 0.3s;
}

.btn-hero::after,
.btn-hero::before {
  content: "";
  @apply rounded-full;
  --var-angle: 90deg;
  background: linear-gradient(var(--var-angle),
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
  inset: -0.2rem;
  z-index: -5;
  position: absolute;
  transition: all;
}

.btn-hero:hover {
  @apply bg-slate-900;
}

.btn-hero:hover::after {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    --var-angle: 0deg;
  }

  100% {
    --var-angle: 360deg;
  }
}

.fancy-text-hilight {
  position: relative;
}

.fancy-text-hilight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  animation: underLine 1s forwards;
}

.fancy-text-hilight::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 2rem;
  transform: scaleX(0);
  width: 100%;
  transform-origin: left;
  animation: underLine 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.hlight-1::after {
  @apply bg-orange-500;
  /* animation-delay: 1s; */
}

.hlight-1::before {
  @apply bg-orange-900;
  /* animation-delay: 1s; */
}

.hlight-2::after {
  @apply bg-cyan-500;
  animation-delay: 0.8s;
}

.hlight-2::before {
  @apply bg-cyan-900;
  animation-delay: 0.8s;
}

.hlight-3::after {
  @apply bg-fuchsia-500;
  animation-delay: 1.8s;
}

.hlight-3::before {
  @apply bg-fuchsia-900;
  animation-delay: 1.8s;
}

/* .hlight-1::after {
  background-color: rgb(255, 89, 89);
} */

@keyframes underLine {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}



.main-image-window-controls>li {
  @apply rounded-full my-1 ml-1;

  height: .6rem;
  width: .6rem;
  /* background-color: azure; */
}

.main-image {
  position: relative;
}


.main-image::before {
  content: "";
  @apply bg-indigo-950;
  inset: -.5rem;
  filter: blur(100px);
  position: absolute;
  transition: all;
  z-index: -5;
}


/* para-underline {

} */

.para-underline {
  position: relative;
}

.para-underline::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 0.2rem;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  animation: underLine 1s forwards;
}
/* 
para-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 2rem;
  transform: scaleX(0);
  width: 100%;
  transform-origin: left;
  animation: underLine 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
} */
